<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💕ABRE ESTE LINK💕</title>
    <style>
    .body {
background-color: aqua;
text-align:center;
    }
    .body_tile{
        color: white;
    }
    .body__img{
        width: 100%;
        border-radius: 60%;
    }

    </style>
</head>
<body class="body">
    <h1 class="body__title"> FELIZ CUMPLEAÑOS JUANCITOOO💕</h1>
    <img src="https://s.france24.com/media/display/451ed2b8-eed6-11ea-afdd-005056bf87d6/w:1280/p:4x3/messi-1805.jpg" 
    alt="Foto de mi" class=""body__img/>
    <button id="yes">GRACIAS MALDITO♡♥</button>
    <button id="No">SI ERES PUTA VALE</button>
    <script>
        const vutonSi = document.getElementById ('yes');
        const vutonNo = document.getElementById('no');
        const somosamigues = () =>{
            alert('Feliz cumpleaños juan, no me vuelvas a pegar covid por favor');
            alert('CHAMO ESPERO TE GUSTE, UN REGALO RANDOM PARA OTRO RANDOM, POR FAVOR DEJA DE FUNARME');
            location.href=  'https://www.youtube.com/watch?v=LyjlquRr-sI';
        }
        const evitarqueserompamicorazon = ( ) =>{
            vutonNo.style.position= "absolute";
            vutonNo.style.top = (Math.random()* window.innerHeight) + 'px';
            vutonNo.style.left = (Math.random()* window.innerWidth) + 'px';
        }
        vutonSi.addEventListener('click', somosamigues)
        vutonNo.addEventListener('mouseover', evitarqueserompamicorazon);sssssssssssssssss
    </script>
</body>
</html>